/*
main > div > div{
	background: black;
	padding: 6px;
}
*/
:root{
    --bg-color: #008CBA;
    --second-color: white;
    --accent-color: #008CBA;
    --disabled-color: rgb(140, 140, 140);
    --disabled-light-color: rgb(210, 210, 210);

    /* https://www.color-hex.com/color/ */
    /* https://www.color-hex.com/color-palette/94569 */
    --blue: #3c8ba4;
    --lightblue: #4caece;
    --green: #23814a;
    --lightgreen: #32b96a;
    --red: #88394a;
    --lightred: #c3526a;
    --orange: #b86841;
    --lightorange: #e78352;
    --yellow: #c3a153;
    --lightyellow: #f4ca68;


    --form-item-border-width: 4px;
    --video-list-columns: 1;

    --yt-player-width: 640px;
    --yt-player-height: 360px;
    --load-videos-width: 400px;
}

body{
    background-color: var(--bg-color);

    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header{
    color: var(--second-color);
    margin: 55px auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#header-main{
    border: 6px solid white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 15px;
}
#header-main img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    align-self: center;
}
#header-main h1{
    text-align: center;
    font-size: 50px;
    letter-spacing: 6px;
    align-self: center;
}
header h2{
    text-align: left;
    letter-spacing: 6px;
}


main{
    margin: 0 auto;
    max-width: calc(var(--yt-player-width) + var(--load-videos-width));
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    background-color: var(--second-color);
}
main > * {
    margin: 15px;
}

#iframe-title{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px;
}

#load-videos-fieldset{
    max-width: var(--yt-player-width);
    flex: 1 1 auto;
}
#load-videos-fieldset > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
#load-videos-fieldset > div > *{
    height: 50px;
    max-height: 50px;
    flex: 1 1 auto;
    display: block;
    margin: 5px 0;
}
#load-videos-fieldset > div :first-child{
    margin-top: 0;
}
#load-videos-fieldset > div :last-child{
    margin-bottom: 0;
}

#iframe-placeholder{
    max-width: 100%;
}

#video-controls-fieldset > div{
    display: flex;
    height: 50px;
}
#video-controls-fieldset > div > *{
    display: block;
    flex: 1 1;
    margin: 5px;
    width: 100%;
    height: 100%;
}
#video-controls-fieldset > div > *:first-child{
    margin-left: 0;
}
#video-controls-fieldset > div > *:last-child{
    margin-right: 0;
}
#video-controls-fieldset button{
    width: 100%;
    height: 100%;
}
#video-controls-fieldset button i{
    margin-right: 10px;
}


#video-list{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}
#video-list > div{
    width: calc(99% / var(--video-list-columns));
    display: flex;
    align-items: center;
    /*border: 2px solid black;*/
    margin: 2px;
    background-color: white;
    color: var(--accent-color);
    transition: background-color 0.1s linear;
}
#video-list > div:hover{
    background-color: var(--bg-color);
    color: white;
}
#video-list > div img{
    height: 40px;
    margin-right: 20px;
}




.form-item, button, input{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.form-btn, button, input[type="button"], input[type="submit"]{
    border: var(--accent-color) solid var(--form-item-border-width);
    transition: background-color 0.1s linear;
}

.form-input, input:not([type="button"]):not([type="submit"]){
    border: transparent solid var(--form-item-border-width);
    border-bottom: var(--accent-color) solid var(--form-item-border-width);
    transition: all 0.1s linear;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: normal;
}
.form-input:hover:enabled, input:not([type="button"]):not([type="submit"]):hover:enabled{
    border: var(--accent-color) solid var(--form-item-border-width);
    background-color: var(--second-color);
}

.form-btn:disabled, .form-input:disabled, button:disabled, input:disabled{
    color: var(--disabled-color);
    background-color: var(--disabled-light-color);
}

.blue{
    background-color: var(--lightblue);
}
.blue:hover:enabled{
    background-color: var(--blue);
}
.green{
    background-color: var(--lightgreen);
}
.green:hover:enabled{
    background-color: var(--green);
}
.orange{
    background-color: var(--lightorange);
}
.orange:hover:enabled{
    background-color: var(--orange);
}
.red{
    background-color: var(--lightred);
}
.red:hover:enabled{
    background-color: var(--red);
}
.yellow{
    background-color: var(--lightyellow);
}
.yellow:hover:enabled{
    background-color: var(--yellow);
}
